@tailwind components;
@tailwind utilities;

main {
  padding-bottom: 150px;
  background-image: linear-gradient(
    to right,
    rgb(190, 166, 166),
    rgb(161, 210, 230)
  );
}
li {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 255px;
  margin-right: 250px;
  border-radius: 30px;
}

.icon_holder {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
}
.graph-table-container {
  width: 850px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container */
}